body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
img {
  padding: 15px 0;
}
.container {
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  width: 90%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 0 10px;
}

@media only screen and (max-height: 767px) {
  .banner {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  .logo {
    width: 50%;
  }
  h1 {
    margin: 15px 0;
  }
  h2 {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
}
